@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

$color: #92571c;
$color1: #f2ece2;
$color2: #ddd1b3;

body, html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $color1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  font-size: 4em;
}

h1, h2, h3, h4{
  font-family: 'Caveat', cursive;
}

#App {
  font-family: sans-serif;
  background-color: $color1;
}

#page-wrap {
  text-align: center;
  overflow: auto;

}

/* General sidebar styles */
nav {
  padding: 2em 0.1em 0.1em;
  font-size: 1.3em;
  background-color: $color1;
 

  ul{
   display: flex;
   flex-direction: column;
    align-items: center;

li {
  display: flex;
  text-decoration: none;
  margin-bottom: 20px;
  color: #000000;
  transition: color 0.2s;


  &:hover{
   color: $color1;
   transition: 300ms;  
  } 
}  
  }


}

.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 36px;
  top: 36px;
  color: rgba(0, 0, 0, 0.495);
  /* Color/shape of burger icon bars */

}

.bm-burger-bars {
background: #000000cb;
max-height: 15%;
}  

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
  width: 100%;
  
  }


/* Color/shape of close button cross */
.bm-cross {
  background: #060606;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
 
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(93, 93, 93, 0.3);
  
}



