$color: #92571c;
$color1: #f2ece2;
$color2: #ddd1b3;


.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;


  article{
    padding: 0 5em;
    text-align: center;
    position: relative;
    z-index: 5;
  
    
    figure{
      display: grid;
      grid-template-columns: 40vw 40vw;
      margin: 0 2em;
    
      text-align: left;

      h4{
        font-size: 30px;
      }

      div{
        padding: 20px;
      }
    }

    form{
      display: flex;
      flex-direction: column;
      width: 100%;

      label,
      textarea{
        margin: 0.5em 0;
      }

      h3{
        font-size: 25px;
      }

      
@media screen and (max-width: 600px) {
  h3{
        font-size: 0.6em;
      }
     
  }
      textarea{
      height: 10em;  
      }
      button{
        width: 50%;
        margin: 0.5em auto;
        padding: 5px;
      }
    }

  }

  picture{
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 0;
    width: 60%;
  }

}


.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color1;
  position: relative;
  z-index: 1;
  font-size: 1em;
  height: 10vh;

p{
margin: 0 5px;
text-align: center;
}

span{
  margin-left: 10px;
}
}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    font-size: 4.5em;
    text-align: center; 

  ul{
  justify-content: center;
  align-items: center; 
  padding: 0;  
      
      li{
        font-size: 60px;
      }
    }
  
  }
}


// @media screen and (max-width: 600px) {
//   .figure{
//   display: flex;
//   flex-direction: column;      
//       }
//   }
 

