$color: #92571c;
$color1: #f2ece2;
$color2: #ddd1b3;


.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
 

  article{
    margin: 0 5em;
    text-align: center; 
  }
}


.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color1;
  position: relative;
  z-index: 1;
  font-size: 1em;
  height: 10vh;

p{
margin: 0 5px;
text-align: center;
}

span{
  margin-left: 10px;
}
}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
nav{
ul{
      justify-content: center;
      align-items: center; 
      
      li{
        font-size: 8vw;
      }
    }  
}
  }
}



